* {
}

#headerBox {
  /* Turns this element into a flexbox */
  display: flex;
  /* flex-direction: row-reverse; */
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
  /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
}

#viewHighScoresButton {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(94, 14, 94);
  font-size: 20px;
  padding-left: 10px;
  font-weight: 500;
}

#countdownTimerOnScreen {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(29, 24, 24);
  font-size: 20px;
  padding-right: 10px;
}

a:link {
  text-decoration: none;
}

#quizAreaForBoxes {
  display: flex;
  flex-direction: row;
  /* Centers along the main axis determined by flex-direction */
  justify-content: center;
  /* Centers along the opposite axis */
  align-items: center;
  width: 50%;
  /* Uses the height of the viewport */
  height: 36vh;
  margin: 0 auto;
  border-style: none;
  border-width: 2px;
}

#questionBox1 button {
  display: flex;
  flex-direction: row;
  /* Centers along the main axis determined by flex-direction */
  justify-content: center;
  /* Centers along the opposite axis */
  align-items: center;
  margin: 5px;
}
